<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/education']" size="small" color="tertiary">Education</ion-button>
    <ion-button [routerLink]="['/work']" size="small" color="tertiary">Work</ion-button>
    <ion-button [routerLink]="['/other']" size="small" color="tertiary">Other</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/other1.jpg" alt="me" />
    <ion-card-header>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      When I don't use my time learning new coding skills...<br>
      I like to exercise:<br>
      Running is my favorite!<br>
      4 Marathons, Vantaa and Stockholm<br>
      My new challenge is Triathlon<br>
      One olympic and one half triathlon so far...<br>

    </ion-card-content>
  </ion-card>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Contact Info</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Riikka Niemi<br>
      Riikka.niemi@student.laurea.fi<br>
      040-8699851 <br>
      Keisarinviitankuja 7 <br>
      04330 Tuusula<br>

    </ion-card-content>
  </ion-card>
</ion-content>