<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/education']" size="small" color="tertiary">Education</ion-button>
    <ion-button [routerLink]="['/work']" size="small" color="tertiary">Work</ion-button>
    <ion-button [routerLink]="['/other']" size="small" color="tertiary">Other</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/kuva.jpg" alt="me" />
    <ion-card-header>
      <ion-card-title>ABOUT ME</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      I want to challenge myself and my dream is to make awesome mobile apps using latest technologies with humble
      mindset to learn more on every project I'm given to.
      Whole my work life I have been learning social skills and team work. Last three years I have learned and improved
      in my new coding skills.
      Mostly I'm front-end developer kind of persona, but have learned the basics of the back-end to have an overall
      understanding.
      You could say that I'm a-typical applicant! Social, middle-aged woman coming from cabin crew world and trying my
      wings in this totally new area.
      Difference might be the strength?
    </ion-card-content>
  </ion-card>
</ion-content>