<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/education']" size="small" color="tertiary">Education</ion-button>
    <ion-button [routerLink]="['/work']" size="small" color="tertiary">Work</ion-button>
    <ion-button [routerLink]="['/other']" size="small" color="tertiary">Other</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <img src="assets/work.jpg" alt="me" />
    <ion-card-header>
      <ion-card-title>WORK EXPERIENCE</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-card-subtitle>Cabin Attendant 20 years</ion-card-subtitle>
      Working with irregular hours with demanding customer service in different and multicultural teams on every flight.
      Driving home after a flight when you did your best and succeeded to make guests feeling like home and managed to
      deliver something extra is unbeatable.<br>
      - Service Motivator J-Class Service<br>
      - Level 2 first aid training<br>
      - Cultural training and experience in cross<br>
      -cultural work<br>
      - Sales Motivator training<br>
      - Chief of Cabin qualification

    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>

      <ion-card-title>Restaurant- Hotel- and travel guide work </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Restaurant and Hotel business work I learned how to get along with different customers and teams and hard work
      ethics.<br>
      Working as a tour guide in Greece, Romania and India when I was only 20 years old though me to take responsibility
      and problem solving in various situations.<br>
      - Steak House Country Club 1.4.-20.9.1997<br>
      - Vaakuna 10 floor 14.1-30.4.1997<br>
      - Fritids Resor 1.5.1995-4.5.1996<br>
      - Sokos Hotel Vaakuna 14.1.1994-11.3.1995
    </ion-card-content>
  </ion-card>
</ion-content>