<ion-header>
  <ion-toolbar>
    <ion-button [routerLink]="['/education']" size="small" color="tertiary">Education</ion-button>
    <ion-button [routerLink]="['/work']" size="small" color="tertiary">Work</ion-button>
    <ion-button [routerLink]="['/other']" size="small" color="tertiary">Other</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Laurea University of Applied Sciences</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bachelor of Science from 1.8.2018 Graduate spring 2021<br>
      •  HTML CSS , Bootstrap, Pure CSS • Java basics and Object-oriented • Mean, JavaScript, basics of React<br>
      - Mobile App Design and Development and Building Cross Platform Mobile Apps. Angular, Ionic,, Firebase
      database.<br>
      - UX and UI design best practices and Prototyping (Marvel, Figma, Balsamiq Mockup).<br>
      - WordPress Web Sites building and building, WooCommerce web shop and basics of Drupal.<br>
      - Studies in Digital Service Business and Marketing and Project Management
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>•Programme in Sales and Service Expertice, Business to Consumer 2013</ion-card-subtitle>

      <ion-card-title>Haaga Helia </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bachelor of Hospitality Management 1999

    </ion-card-content>
  </ion-card>
</ion-content>